<!doctype html>
<html lang="zh-CN">

{{ block "head.html" . }}{{ end }}

<body>


<main class="container">

    {{ block "nav.html" . }}{{ end }}

    <!-- 欢迎 -->
    <hgroup>
        <h1>Hi👋, {{ .Nickname }}</h1>
        <h2>这里是你设下的的分类</h2>
    </hgroup>

    <!-- 分类列表 -->
    <div>
        <ul>
            {{ range .Categories }}
                <li>
                    <hgroup>
                        <h3><a href="/categories/{{ .ID }}">{{ .Name }}</a></h3>
                        <h4>子分类: {{ .SubcategoryCount }} | 日记: {{ .NoteCount }}</h4>
                    </hgroup>
                </li>
            {{ end }}
        </ul>
        <p><small><i>根据 {{ .Source }}</i></small></p>
    </div>


</main>

</body>

</html>