<!doctype html>
<html lang="zh-CN">

<!--suppress HtmlRequiredTitleElement -->
<head>
    {{ block "head.html" . }}{{ end }}
</head>

<body>


<main class="container">

    {{ block "nav.html" . }}{{ end }}

    <!-- 简介 -->
    <hgroup>
        <h1>分类：{{ .Name }}</h1>
        <h2>子分类: {{ .SubcategoryCount }} | 日记: {{ .NoteCount }}</h2>
    </hgroup>

    {{ if .ParentCategoryID }}
        <p>
            <a href="/categories/{{ .ParentCategoryID }}">返回上级分类</a>
        </p>
    {{ end }}

    <!-- 子分类列表 -->
    {{ if gt .SubcategoryCount 0 }}
        <div>
            <h3>子分类</h3>
            <ul>
                {{ range .Subcategories }}
                    <li>
                        <hgroup>
                            <h4><a href="/categories/{{ .ID }}">{{ .Name }}</a></h4>
                            <h5>子分类: {{ .SubcategoryCount }} | 日记: {{ .NoteCount }}</h5>
                        </hgroup>
                    </li>
                {{ end }}
            </ul>
        </div>
    {{ end }}

    <!-- 日记列表 -->
    {{ if gt .NoteCount 0 }}
        <div>
            <h3>日记</h3>
            <ul>
                {{ range .Notes }}
                    <li>
                        <hgroup>
                            <h4><a href="/notes/{{ .ID }}">{{ .Title }}</a></h4>
                            <h5>{{ .Date}} <span data-tooltip="{{ .Weather }}">{{ .WeatherEmoji }}</span>|<span
                                        data-tooltip="{{ .Mood}}">{{ .MoodEmoji }}</span> <a
                                        href="/locations/{{ .Location }}">{{ .Location }}</a></h5>
                        </hgroup>
                    </li>
                {{ end }}
            </ul>
        </div>
    {{ end }}

    <p><small><i>根据 {{ .Source }}</i></small></p>

</main>

</body>

</html>