<!doctype html>
<html lang="zh-CN">

<!--suppress HtmlRequiredTitleElement -->
<head>
    {{ block "head.html" . }}{{ end }}
</head>

<body>


<main class="container">

    {{ block "nav.html" . }}{{ end }}

    <!-- 介绍 -->
    <hgroup>
        <h1>{{ .Note.Title }}</h1>
        <h2>{{ .Note.Date}} <span data-tooltip="{{ .Note.Weather }}">{{ .Note.WeatherEmoji }}</span>|<span
                    data-tooltip="{{ .Note.Mood}}">{{ .Note.MoodEmoji }}</span> <a
                    href="/categories/{{ .Note.CategoryID }}">{{ .Note.CategoryName }}</a></h2>
    </hgroup>

    <!-- 日记内容 -->
    <div>
        <article>
            {{ .Note.Content|unescaped }}
        </article>
    </div>

    <p><small><i>根据 {{ .Source }}</i></small></p>

</main>

</body>

</html>